.border {
    -fx-background-radius: 15;
    -fx-border-radius : 15;
}

.button {
    -fx-background-color: white;
    -fx-background-radius: 6;      /* Bo góc 6px */
    -fx-text-fill: black;           /* Màu chữ đen */
    -fx-font-size: 13px;            /* Kích thước chữ */
    -fx-font-weight: bold;          /* Chữ đậm */
    -fx-padding: 15;                /* Khoảng cách đệm */
    -fx-border-color: black;       /* Màu viền đen */
    -fx-border-width: 2px;         /* Độ dày viền */
    -fx-border-radius: 6;          /* Bo góc viền giống nút */
    -fx-background-insets: 0, 0;   /* Đảm bảo nền và viền vừa khít */
    -fx-transition: all 0.3s ease-in-out; /* Thêm hiệu ứng chuyển tiếp */
}

.button:hover {
    -fx-background-color: blue; /* Màu nền khi hover */
    -fx-text-fill: #000000;         /* Màu chữ đen khi hover */
    -fx-border-color: black;     /* Màu viền khi hover */
    -fx-background-radius: 6;      /* Bo góc viền khi hover */
    -fx-scale-x: 1.3;              /* Phóng to nút theo chiều ngang */
    -fx-scale-y: 1.3;              /* Phóng to nút theo chiều dọc */
}


/* Pane với màu nền */
.pane {
    -fx-background-color: #FFD700; /* Màu nền vàng */
    -fx-background-radius: 20;      /* Bo góc 20px */
    -fx-padding: 15;                /* Khoảng đệm */
}

.background{
    -fx-background-image: url('ScreenSupport/Imagine/result_manaImage.jpeg');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius : 7px;
    -fx-border-radius: 5px;
}
.backgroundInSearchScreen{
    -fx-background-image: url('ScreenSupport/Imagine/result_searchImage.jpeg');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius : 7px;
    -fx-border-radius: 5px;
}

.paneDeMuc {
    -fx-background-color:  #ffff99;
    -fx-background-radius: 20;
    -fx-border-color: black;
    -fx-border-radius: 20;
    -fx-border-width: 0.7;
}

.list {
    -fx-font-weight: bold; -fx-font-size: 14px;
}

.button-with-bg {
    -fx-background-image: url('/ScreenSupport/Imagine/Remove-bg.ai_1729393035911.png');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}






